{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="{% static 'css/project_css.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'home_page' %}">Home</a></li>
                <li><a href="{% url 'movies_page' %}">Movies Game</a></li>
                <li><a href="{% url 'music_page' %}">Songs Game</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>
    <!-- Link to JavaScript -->
    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
